        body {
            margin: 0px;
        }

        #container {
            background: #666 url(ej03_tree.jpg) no-repeat -60px 0;
            width: 420px;
            height: 480px;
            position: relative;
        }

        .snowflake {
            color: #fff;
            font-size: 2em;
            position: absolute;
        }

        .snowflake.f1 {
            left: 40px;
            -webkit-animation-delay: 0s, 0s, 0s;
            -webkit-animation-duration: 5s, 5s, 3s;
            -webkit-animation-name: animate_down, animate_color, animate_right;
            -webkit-animation-iteration-count: infinite;
        }

        .snowflake.f2 {
            font-size: 1.8em;
            left: 120px;
            -webkit-animation-delay: 1s, 0s, 0s;
            -webkit-animation-duration: 5s, 5s, 3s;
            -webkit-animation-name: animate_down, animate_color, animate_right;
            -webkit-animation-iteration-count: infinite;
        }

        .snowflake.f3 {
            left: 200px;
            -webkit- animation-delay: 2s, 0s, 0s;
            -webkit-animation-duration: 5s, 5s, 3s;
            -webkit-animation-name: animate_down, animate_color, animate_right;
            -webkit-animation-iteration-count: infinite;
        }

        .snowflake.f4 {
            font-size: 1.5em;
            left: 280px;
            -webkit-animation-delay: 3s, 0s, 0s;
            -webkit-animation-duration: 5s, 5s, 3s;
            -webkit-animation-name: animate_down, animate_color, animate_right;
            -webkit-animation-iteration-count: infinite;
        }

        @-webkit-keyframes animate_down {
            from {
                top: 0%;
            }
            to {
                top: 100%;
            }
        }

        @-webkit-keyframes animate_color {
            0% {
                opacity: 1.0;
            }
            20% {
                opacity: 0.9;
            }
            40% {
                opacity: 0.7;
            }
            60% {
                opacity: 0.5;
            }
            80% {
                opacity: 0.3;
            }
            100% {
                opacity: 0;
            }
        }

        @-webkit-keyframes animate_right {
            0% {
                margin-left: 0%;
            }
            25% {
                margin-left: 20px;
            }
            50% {
                margin-left: 0%;
            }
            100% {
                margin-left: -20px;
            }
        }
