.required {
    color: red;
    font-size: 1.5em;
}

.tituloCampos {
    font-weight: bold;
    margin: 10px 3px;
}

label {
    margin-top: 0;
    font-size: 0.8em;
    display: block;
    font-weight: lighter;
}

p {
    margin-bottom: 0;
}

input,select {
    margin-bottom: 0;
}

.campos{
    float:left;
    width: 50%;
    margin:0;
    padding: 0;

}
#form{
    width: 80%;
    height: 99%;
    margin: auto 10px;
    border-bottom: 1px solid gray;

}
.tituloCampos{
    display: block;

}
